@page
@model HomeService.Areas.Admin.Pages.IndexModel
@{
}
@inject HomeService.Data.HomeServiceContext _context
<link href="~/Admin/assets/libs/c3/c3.min.css" rel="stylesheet" type="text/css">

<div class="page-content">


    <div class="container-fluid">

        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="mini-stat">
                            <span class="mini-stat-icon bg-purple me-0 float-end"><i class="fas fa-male"></i></span>
                            <div class="mini-stat-info">
                                <span class="counter text-purple">@_context.Customer.Count()</span>

                                @sharedResource["Customers"]
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="mini-stat">
                            <span class="mini-stat-icon bg-blue-grey me-0 float-end"><i class="fas fa-male"></i></span>
                            <div class="mini-stat-info">
                                <span class="counter text-blue-grey">@_context.Technician.Count()</span>

                                @sharedResource["Technicians"]
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-md-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="mini-stat">
                            <span class="mini-stat-icon bg-brown me-0 float-end"><i class="fas fa-male"></i></span>
                            <div class="mini-stat-info">
                                <span class="counter text-brown">@_context.Request.Count()</span>

                                @sharedResource["Requests"]
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-md-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="mini-stat">
                            <span class="mini-stat-icon bg-teal me-0 float-end"><i class="mdi mdi-coffee"></i></span>
                            <div class="mini-stat-info">
                                <span class="counter text-teal">@_context.Contract.Count()</span>

                                @sharedResource["Contracts"]
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 


        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card position-relative">
                    <div class="card-body">
                        <div id="detailedReports" class="carousel slide detailed-report-carousel position-static pt-2" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-xl-6">
                                            @(Html.DevExtreme().Chart()
                                            .ID("DailyRequestsCount")
                                            .Rotated(true)
                                            .DataSource(Model.url + "/api/statistics/GetDailyRequests")
                                            .Series(s => s.Add()
                                            .Label(l => l
                                            .Visible(true)
                                            .BackgroundColor("#c18e92")

                                            )
                                            .Color("#79cac4")
                                            .Type(SeriesType.Bar)
                                            .ArgumentField("day")
                                            .ValueField("request")
                                            )
                                            .Title(sharedResource["DailyRequests"])
                                            .ArgumentAxis(a => a
                                            .Label(l => l
                                            .CustomizeText(@<text>
                                                    function() {
                                                   return new Date(this.valueText).toLocaleDateString('pt-PT');
                                                    }
                                                </text>)
                                            )
                                            )
                                            .ValueAxis(a => a.Add()
                                            .Tick(t => t.Visible(false))
                                            .Label(l => l.Visible(false))
                                            )
                                            .Export(e => e.Enabled(true))
                                            .Legend(l => l.Visible(false))
                                            .ScrollBar(s => s.Visible(true))
                                            .ZoomAndPan(z => z.ArgumentAxis(ChartZoomAndPanMode.Both))
                                            )
                                        </div>
                                        <div class="col-xl-6">
                                            @(Html.DevExtreme().Chart()
                                            .ID("MonthlyRequestsCount")
                                            .Rotated(true)
                                            .DataSource(Model.url + "/api/statistics/GetMonthlyRequests")
                                            .Series(s => s.Add()
                                            .Label(l => l
                                            .Visible(true)
                                            .BackgroundColor("#c18e92")
                                            )
                                            .Color("#79cac4")
                                            .Type(SeriesType.Bar)
                                            .ArgumentField("month")
                                            .ValueField("request")
                                            )
                                            .Title(sharedResource["MonthlyRequests"])
                                            .ArgumentAxis(aa => aa.Categories(new string[] { "January", "February", "March", "April", "May", "June", "Jule", "August", "September", "October", "November", "December" })
                                            .Label(l => l
                                            .CustomizeText(@<text>
                                                    function() {
                                                    return this.valueText;
                                                    }
                                                </text>)
                                            )
                                            )
                                            .ValueAxis(a => a.Add()
                                            .Tick(t => t.Visible(false))
                                            .Label(l => l.Visible(false))
                                            )
                                            .Export(e => e.Enabled(true))
                                            .Legend(l => l.Visible(false))
                                            .ScrollBar(s => s.Visible(true))
                                            .ZoomAndPan(z => z.ArgumentAxis(ChartZoomAndPanMode.Both))
                                            )
                                        </div>
                                    </div>
                                    <br />
                                   
                                    <br />
                                    <div class="row">
                                        <div class="col-xl-6">
                                            @(Html.DevExtreme().Chart()
                                            .ID("DailyContractsCount")
                                            .Rotated(true)
                                            .DataSource(Model.url + "/api/statistics/GetDailyContracts")
                                            .Series(s => s.Add()
                                            .Label(l => l
                                            .Visible(true)
                                            .BackgroundColor("#c18e92")

                                            )
                                            .Color("#79cac4")
                                            .Type(SeriesType.Bar)
                                            .ArgumentField("day")
                                            .ValueField("contract")
                                            )
                                            .Title(sharedResource["DailyContracts"])
                                            .ArgumentAxis(a => a
                                            .Label(l => l
                                            .CustomizeText(@<text>
                                                    function() {
                                                   return new Date(this.valueText).toLocaleDateString('pt-PT');
                                                    }
                                                </text>)
                                            )
                                            )
                                            .ValueAxis(a => a.Add()
                                            .Tick(t => t.Visible(false))
                                            .Label(l => l.Visible(false))
                                            )
                                            .Export(e => e.Enabled(true))
                                            .Legend(l => l.Visible(false))
                                            .ScrollBar(s => s.Visible(true))
                                            .ZoomAndPan(z => z.ArgumentAxis(ChartZoomAndPanMode.Both))
                                            )
                                        </div>
                                        <div class="col-xl-6">
                                            @(Html.DevExtreme().Chart()
                                            .ID("MonthlyContractsCount")
                                            .Rotated(true)
                                            .DataSource(Model.url + "/api/statistics/GetMonthlyContracts")
                                            .Series(s => s.Add()
                                            .Label(l => l
                                            .Visible(true)
                                            .BackgroundColor("#c18e92")
                                            )
                                            .Color("#79cac4")
                                            .Type(SeriesType.Bar)
                                            .ArgumentField("month")
                                            .ValueField("contract")
                                            )
                                            .Title(sharedResource["MonthlyContracts"])
                                            .ArgumentAxis(a => a
                                            .Label(l => l
                                            .CustomizeText(@<text>
                                                    function() {
                                                    return  this.valueText;
                                                    }
                                                </text>)
                                            )
                                            )
                                            .ValueAxis(a => a.Add()
                                            .Tick(t => t.Visible(false))
                                            .Label(l => l.Visible(false))
                                            )
                                            .Export(e => e.Enabled(true))
                                            .Legend(l => l.Visible(false))
                                            .ScrollBar(s => s.Visible(true))
                                            .ZoomAndPan(z => z.ArgumentAxis(ChartZoomAndPanMode.Both))
                                            )
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="row">
                                        <div class="col-xl-6">
                                            @(Html.DevExtreme().Chart()
                                            .ID("DailyReceiptsCount")
                                            .Rotated(true)
                                            .DataSource(Model.url + "/api/statistics/GetDailyReceipts")
                                            .Series(s => s.Add()
                                            .Label(l => l
                                            .Visible(true)
                                            .BackgroundColor("#c18e92")

                                            )
                                            .Color("#79cac4")
                                            .Type(SeriesType.Bar)
                                            .ArgumentField("day")
                                            .ValueField("receipt")
                                            )
                                            .Title(sharedResource["DailyReceipts"])
                                            .ArgumentAxis(a => a
                                            .Label(l => l
                                            .CustomizeText(@<text>
                                                    function() {
                                                   return new Date(this.valueText).toLocaleDateString('pt-PT');
                                                    }
                                                </text>)
                                            )
                                            )
                                            .ValueAxis(a => a.Add()
                                            .Tick(t => t.Visible(false))
                                            .Label(l => l.Visible(false))
                                            )
                                            .Export(e => e.Enabled(true))
                                            .Legend(l => l.Visible(false))
                                            .ScrollBar(s => s.Visible(true))
                                            .ZoomAndPan(z => z.ArgumentAxis(ChartZoomAndPanMode.Both))
                                            )
                                        </div>
                                        <div class="col-xl-6">
                                            @(Html.DevExtreme().Chart()
                                            .ID("MonthlyReceiptsCount")
                                            .Rotated(true)
                                            .DataSource(Model.url + "/api/statistics/GetMonthlyReceipts")
                                            .Series(s => s.Add()
                                            .Label(l => l
                                            .Visible(true)
                                            .BackgroundColor("#c18e92")
                                            )
                                            .Color("#79cac4")
                                            .Type(SeriesType.Bar)
                                            .ArgumentField("month")
                                            .ValueField("receipt")
                                            )
                                            .Title(sharedResource["MonthlyReceipts"])
                                            .ArgumentAxis(a => a
                                            .Label(l => l
                                            .CustomizeText(@<text>
                                                    function() {
                                                    return  this.valueText;
                                                    }
                                                </text>)
                                            )
                                            )
                                            .ValueAxis(a => a.Add()
                                            .Tick(t => t.Visible(false))
                                            .Label(l => l.Visible(false))
                                            )
                                            .Export(e => e.Enabled(true))
                                            .Legend(l => l.Visible(false))
                                            .ScrollBar(s => s.Visible(true))
                                            .ZoomAndPan(z => z.ArgumentAxis(ChartZoomAndPanMode.Both))
                                            )
                                        </div>
                                    </div>






                                
                                   
                                </div>

                            </div>



                        </div>

                    </div>

                </div>
            </div>
        </div>



       

    </div> 
</div>
<!-- End Page-content -->

<script src="~/Admin/assets/libs/peity/jquery.peity.min.js"></script>
<!--C3 Chart-->
<script src="~/Admin/assets/libs/d3/d3.min.js"></script>
<script src="~/Admin/assets/libs/c3/c3.min.js"></script>

<script src="~/Admin/assets/libs/jquery-knob/jquery.knob.min.js"></script>

<script src="~/Admin/assets/js/pages/dashboard.init.js"></script>

<script src="~/Admin/assets/js/app.js"></script>