@page
@model HomeService.Areas.Admin.Pages.Customers.AddReceiptModel
@{
}
<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header">
                        <h2 class="card-header d-flex justify-content-between align-items-center">
                            @sharedResource["Add"]  @sharedResource["Receipt"]
                            <a asp-page="Receipts" asp-route-id="@Model.contract.ContractId" class="btn btn-primary"> @sharedResource["Back"]</a>

                        </h2>
                    </div>
                    <div class="card-body">
                        <div style="padding-top:20px;padding-left:20px;padding-right:20px">

                            <div class="row">
                                <div class="col-md-12 col-lg-6 mt-4">

                                    <div class="d-flex justify-content-between">
                                        <div> @sharedResource["TlAr"] </div>
                                        <div> @Model.contract.Customer.FullNameAr </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div> @sharedResource["TlAr"] </div>
                                        <div> @Model.contract.Customer.FullNameEn </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <form id="form" method="post" enctype="multipart/form-data">
                            <div class="text-danger" asp-validation-summary="All"></div>

                            @(Html.DevExtreme().Form<HomeService.Models.Receipt>()


.Items(items => {
    items.AddSimpleFor(m => m.ContractId).IsRequired(true).Label(k => k.Text(sharedResource["Contract"]))
       .Editor(e => e
           .Lookup()
           .DataSource(ds => ds.WebApi().Controller("Receipts").LoadAction("ContractLookup").Key("Value"))
           .ValueExpr("Value")
           .DisplayExpr("Text")
           .Value(Model.contract.ContractId)
           .Disabled(true)
       );
    items.AddSimpleFor(m => m.PaymentMethodId).IsRequired(true).Label(k => k.Text(sharedResource["PaymentMethod"]))
       .Editor(e => e
           .Lookup()
           .DataSource(ds => ds.WebApi().Controller("Receipts").LoadAction("PaymentMethodLookup").Key("Value"))
           .ValueExpr("Value")
           .DisplayExpr("Text")
       );
    items.AddSimpleFor(m => m.ReceiptServiceId).IsRequired(true).Label(k => k.Text(sharedResource["ReceiptService"]))
       .Editor(e => e
           .Lookup()
           .DataSource(ds => ds.WebApi().Controller("Receipts").LoadAction("ReceiptServiceLookup").Key("Value"))
           .ValueExpr("Value")
           .DisplayExpr("Text")
       );
    items.AddSimpleFor(m => m.VDate).IsRequired(true).Label(k => k.Text(sharedResource["VDate"])).Editor(c => c.DateBox().Type(DateBoxType.DateTime).Value(DateTime.Now));

    items.AddSimpleFor(m => m.Remarks).Label(k => k.Text(sharedResource["Remarks"])).Editor(c => c.TextArea().Height(150));
    items.AddSimpleFor(m => m.Amount).IsRequired(true).Label(k => k.Text(sharedResource["Amount"]));
    items.AddButton()
                     .ColSpan(3)
                     .HorizontalAlignment(HorizontalAlignment.Right)
                     .ButtonOptions(b => b.Text(sharedResource["Save"])
                     .Type(ButtonType.Success)
                     .UseSubmitBehavior(true)).CssClass("invers");
})
)
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
