@page
@model HomeService.Areas.Admin.Pages.Customers.EditModel
@{
}
<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header">
                        <h2 class="card-header d-flex justify-content-between align-items-center">
                            @sharedResource["Edit"]  @sharedResource["Customer"]
                            <a asp-page="Index" class="btn btn-primary"> @sharedResource["Back"]</a>
                        </h2>
                    </div>
                    <div class="card-body">
                        <br />
                        <form id="form" method="post" enctype="multipart/form-data">
                            <div class="text-danger" asp-validation-summary="All"></div>

                            <input type="hidden" name="CustomerId" asp-for="customer.CustomerId" value="@Model.customer.CustomerId" />
                            <input type="hidden" name="Pic" asp-for="customer.Pic" value="@Model.customer.Pic" />
                            <input type="hidden" name="Email" asp-for="customer.Email" value="@Model.customer.Email" />

                            @(Html.DevExtreme().Form<HomeService.Models.Customer>().ColCount(2)
         .FormData(Model.customer)

    .Items(items => {

    items.AddSimpleFor(m => m.FullNameAr).IsRequired(true).Label(k => k.Text(sharedResource["TlAr"]));
    items.AddSimpleFor(m => m.FullNameEn).IsRequired(true).Label(k => k.Text(sharedResource["TlEn"]));
    items.AddSimpleFor(m => m.CivilId).IsRequired(true).Label(k => k.Text(sharedResource["CivilId"]));
    items.AddSimpleFor(m => m.AreaId).IsRequired(true).Label(k => k.Text(sharedResource["Area"]))
   .Editor(e => e
       .Lookup()
       .DataSource(ds => ds.WebApi().Controller("Customers").LoadAction("AreaLookup").Key("Value"))
       .ValueExpr("Value")
       .DisplayExpr("Text")
   );


    items.AddSimpleFor(m => m.Block).IsRequired(true).Label(k => k.Text(sharedResource["Block"]));
    items.AddSimpleFor(m => m.Avenue).IsRequired(true).Label(k => k.Text(sharedResource["Avenue"]));
    items.AddSimpleFor(m => m.Street).IsRequired(true).Label(k => k.Text(sharedResource["Street"]));
    items.AddSimpleFor(m => m.BuildingNo).IsRequired(true).Label(k => k.Text(sharedResource["BuildingNo"]));
    items.AddSimpleFor(m => m.Floor).IsRequired(true).Label(k => k.Text(sharedResource["Floor"]));
    items.AddSimpleFor(m => m.Flat).IsRequired(true).Label(k => k.Text(sharedResource["Flat"]));

    items.AddSimpleFor(m => m.NationalityId).IsRequired(true).Label(k => k.Text(sharedResource["Nationality"]))
.Editor(e => e
.Lookup()
.DataSource(ds => ds.WebApi().Controller("Customers").LoadAction("NationalityLookup").Key("Value"))
.ValueExpr("Value")
.DisplayExpr("Text")
);
    items.AddSimpleFor(m => m.PassportNo).IsRequired(true).Label(k => k.Text(sharedResource["PassportNo"]));
    items.AddSimpleFor(m => m.Mobile).IsRequired(true).Label(k => k.Text(sharedResource["Mobile"]));
    items.AddSimpleFor(m => m.Tele1).IsRequired(true).Label(k => k.Text(sharedResource["Tele1"]));
    items.AddSimpleFor(m => m.Tele2).IsRequired(true).Label(k => k.Text(sharedResource["Tele2"]));
    items.AddSimpleFor(m => m.Remarks).IsRequired(true).Label(k => k.Text(sharedResource["Remarks"])).Editor(c => c.TextArea().Height(150));
    items.AddSimple().Label(k => k.Text(sharedResource["Picture"])).Template(@<text>
                        <div>
                    <img width="250" height="250" src="/Images/Customer/@Model.customer.Pic" alt="Customer Picture"/>
                </div>
                            </text> );
        items.AddSimple().ColSpan(4).Label(k => k.Text(sharedResource["Picture"])).Template(@<text>


                            @(Html.DevExtreme().FileUploader()
                                        .Name("MainImage")
                                        .SelectButtonText(sharedResource["Change_Picture"])
                                        .LabelText("")
                                        .Accept("image/*")
                                        .UploadMode(FileUploadMode.UseForm)
                                        .RtlEnabled(bool.Parse(sharedResource["ArLang"]))
                                        .Height(100)

                                                        ) </text>);
        items.AddButton()
                     .ColSpan(3)
                     .HorizontalAlignment(HorizontalAlignment.Right)
                     .ButtonOptions(b => b.Text(sharedResource["Save"])
                     .Type(ButtonType.Success)
                     .UseSubmitBehavior(true)).CssClass("invers");
    })
)




                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
